feed-sort-order unreadarticlecount-asc
history-limit 0
# auto-reload yes
reload-time 1440
browser "firefox"

# Color syntax:
# `color <element> <fg> <bg> <attribute>`
# 
# Elements that can be colored:
#  - listnormal         read items
#  - listfocus          the item currently highlighted with the cursor
#  - listnormal_unread  unread items
#  - listfocus_unread   the item currently selected, if unread
#  - article            article text
#
# Colors:
#   - black
#   - red
#   - green
#   - yellow
#   - blue
#   - magenta
#   - cyan
#   - white
#   - default
#   - colorn where {n} is a 256-color terminal code
# Optional attributes
#  - standout           reverses foreground and background colors

color listnormal        default default
color listnormal_unread color42   default bold
color listfocus         color42   default bold standout
color listfocus_unread  color42   default bold standout
color info              color42   default standout
color article           default default

macro "," set browser "lynx" ; open-in-browser ; set browser "w3m"
bind-key j down
bind-key k up
bind-key h quit
bind-key l open
